<div style="border:1px solid #ccc; margin-bottom:10px; " xmlns="http://www.w3.org/1999/html">
    <p style="padding:10px 5px 5px 15px;color: red;background: rgba(255, 255, 0, 0.18);font-size: 14px;">
        Please note that below setting are for listing purpose only and will only work in pro version of this extension. Also, along with these features pro version is compatible with <strong>ajax add to cart</strong> functionality.
        <br/>
        <br/>
        <a href="https://redchamps.com/favicon-cart-count-pro-magento-2-extension.html" target="_blank">Click here to buy PRO version now.</a>
    </p>
</div>
